# Compiled class files
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
*.iml
.idea/
out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# MacOS
.DS_Store
